{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/account.css" />
<div class="wrapper">
    <form class="account register" id="signupForm" action="/account/login" method="POST">
        <div class="input-wrapper">
            <i class="fas fa-user"></i>
            <label for="pseudo">Username</label>
            <input type="text" id="username" name="username" required>
            <span class="error-message" id="pseudoError"></span>
        </div>
        <div class="input-wrapper">
            <i class="fas fa-lock"></i>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <span class="error-message" id="passwordError"></span>
        </div>
        <div class="full-width">
            <button type="submit" id="submitBtn">Login</button>
        </div>
    </form>
</div>