<footer>
    <div class="footer-container">
        <div class="footer-left">
            <p>&copy; 2024 Retendo Network.<br> Website made by zac_Xgamer & cedkeChat.</p>
        </div>
        <div class="footer-right">
            <nav>
                <ul>
                    <li><a href="https://discord.gg/QB5YFJfsFJ">Discord</a></li>
                    <li><a href="https://github.com/RetendoNetwork">Github</a></li>
                    <li><a href="https://innoverse.club">Innoverse</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>