<link rel="stylesheet" href="/css/home.css" ></link>
<header>
    <a class="logo" href="/">
        <img src="/img/Retendo.png" alt="Retendo Network" />
        <span class="logo-text">etendo network</span>
    </a>
    <nav>
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/updates">Updates</a></li>
            <li><a href="/docs">Documentations</a></li>
            <li><a href="/progress">Progress</a></li>
            <li class="profile">
                <a href="/account/register">
                    <img src="https://static.thenounproject.com/png/1122812-200.png" alt="Profile Icon"
                        class="profile-icon" />
                </a>
            </li>
        </ul>
    </nav>
</header>