<!DOCTYPE html>
<html>

<head>
    <title>Retendo Network</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="Retendo Network">
    <meta name="application-name" content="Retendo Network">
    <meta name="msapplication-TileColor" content="#1b1f3b">
    <meta name="theme-color" content="#1b1f3b">

    <meta property="og:title" content="Retendo Network">
    <meta property="og:description"
        content="A Nintendo Network replacement that recreates and rehosts online servers for WiiU and 3DS consoles.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://retendo.online/">
    <meta property="og:image:alt" content="Retendo Network">
    <meta property="og:site_name" content="Retendo Network">

    <!-- twitter embeds -->
    <meta name="twitter:url" content="https://retendo.online/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RetendoNetwork">
    <meta name="twitter:title" content="Rretendo Network">
    <meta name="twitter:description"
        content="A Nintendo Network replacement that recreates and rehosts online servers for WiiU and 3DS consoles.">

    <!-- google seo -->
    <meta name="description"
        content="A Nintendo Network replacement that recreates and rehosts online servers for WiiU and 3DS consoles.">
    <meta name="robots" content="index, follow">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#1b1f3b">
    <link rel="shortcut icon" href="/img/icons/favicon.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
	<div class="main-body">
		{{{ body }}}
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

	{{#each _sections.foot}}
		{{{this}}}
	{{/each}}
</body>