{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<main>
    <div class="main-content">
        <h1>404</h1>
        <h2>Sorry but this page doesn't exist.</h2>
        <p><a href="/" style="color: red;">Click here</a> to retrace your steps !</p>
    </div>
</main>
<script src="/js/pages.js"></script>

{{> footer}}