<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retendo Network</title>
    <link rel="stylesheet" href="/scss/home.scss">
</head>
<body>
    
</body>
</html>
