<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Retendo Network</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
    <a class="logo" href="/">
        <img src="/img/Retendo.png" alt="Retendo Network" />
        <span class="logo-text">etendo network</span>
    </a>
    <nav>
        <ul>
            <li><a href="/updates">Updates</a></li>
            <li><a href="/docs">Documentations</a></li>
            <li><a href="/progress">Progress</a></li>  
            <li class="profile">
                <a href="/account/register">
                    <img src="https://static.thenounproject.com/png/1122812-200.png" alt="Profile Icon" class="profile-icon"/> <!-- Image de l'icône de profil -->
                </a>
            </li>
        </ul>
    </nav>
</header>




    <main>
        <h1>Online service<br><span>Recreated.</span></h1>
        <p>Retendo Network is a recreation of online service for <span style="color: #ff5555">Nintendo 2DS/3DS</span> and for <span style="color: #ff5555">Nintendo Wii U</span>.</p>
        
        <div class="social">
            <a href="#" class="btn">Read more</a>
            <a class="redhover" href="https://discord.gg/QB5YFJfsFJ"><i class="fa-brands fa-discord"></i></a>
            <a class="redhover" href="https://github.com/RetendoNetwork"><i class="fa-brands fa-github"></i></a>
            <a class="redhover" href="https://github.com/InnoverseTeam"><i class="fa-sharp fa-solid fa-heart"></i></a>
        </div>  
        <canvas id="myCanvas" width="500" height="500"></canvas>
        <script>
        const canvas = document.getElementById('myCanvas');
        const context = canvas.getContext('2d');
        const img = new Image();
        img.src = '/img/3ds.png';
        img.onload = function() {
            context.drawImage(img, 0, 0);
        };
    </script>
    </main>

    <main>
        <h1>What we do ?</h1>
        <div class="cards-container">
        <div class="card">
            <img src="/img/controller.png" alt="Online Services">
            <div class="name">Online Service</div>
        </div>

        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/168924680?s=400&u=ce5ea34643b5d0f8686f527f375771824c69e854&v=4" alt="Innoverse">
            <div class="name">Innoverse</div>
        </div>

        <div class="card">
            <img src="/img/eshop.png" alt="GetEshop">
            <div class="name">GetEshop</div>
        </div>
    </main>

    <main>
        <h1>The Team.</h1>
        <div class="cards-container">
      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/149168286?v=4" alt="Lurio280">
        <div class="name">Lurio280</div>
      </div>

      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/123301168?s=400&u=88b0975fa18513a19fb1c4a14cb0b2b1556a225a&v=4" alt="00cedke">
        <div class="name">cedkeChat</div>
      </div>

      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/100078436?v=4" alt="zacaventure">
        <div class="name">Zacrazali_38</div>
      </div>

    </div>
    </main>
    <footer>
        <div class="footer-container">
        <div class="footer-left">
            <p>&copy; 2024 Retendo Network.</p>
        </div>
            <div class="footer-right">
                <nav>
                    <ul>
                        <li><a href="https://discord.gg/QB5YFJfsFJ">Discord</a></li>
                        <li><a href="https://github.com/RetendoNetwork">Github</a></li>
                        <li><a href="https://innoverse.club">Innoverse</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <script>
      function createSnowflake() {
          const snowflake = document.createElement('div');
          snowflake.classList.add('snowflake');
          snowflake.innerHTML = '❄';

          snowflake.style.left = Math.random() * window.innerWidth + 'px';
          snowflake.style.fontSize = Math.random() * 10 + 10 + 'px';
          snowflake.style.animationDuration = Math.random() * 5 + 5 + 's';
          snowflake.style.opacity = Math.random();

          document.body.appendChild(snowflake);

          setTimeout(() => {
              snowflake.remove();
          }, parseInt(snowflake.style.animationDuration) * 1000);
      }

      setInterval(createSnowflake, 200);
    </script>
</body>
</html>