<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retendo Network</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="logo">Retendo Network</div>
        <nav>
            <ul>
                <li><a href="#">Updates</a></li>
                <li><a href="#">Documentations</a></li>
                <li><a href="#">Progress</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Online service<br><span>Recreated.</span></h1>
        <p>Retendo Network is a recreation of online service for <span style="color: #ff5555">Nintendo 2DS/3DS</span> and for <span style="color: #ff5555">Nintendo Wii U</span>.</p>
        <a href="#" class="btn">En savoir plus</a>
        <div class="social">
            <a href="https://discord.gg/QB5YFJfsFJ">Discord</a>
            <a href="https://github.com/RetendoNetwork">GitHub</a>
            <a href="https://github.com/InnoverseTeam">❤️</a>
        </div>
        <img src="/img/3ds.png" alt="3DS" class="console">
    </main>
    <footer>
        <!-- footer -->
    </footer>
</body>
</html>