{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<main>
    <h1>Online service<br><span>Recreated.</span></h1>
    <p>Retendo Network is a recreation of online service for <span style="color: #ff5555">Nintendo 2DS/3DS</span>, for <span style="color: #ff5555">Nintendo Wii U</span> and soon for <span style="color: #ff5555">Nintendo Switch</span></p>
    <div class="social">
        <a href="#" class="btn">Read more</a>
        <a class="redhover" href="https://discord.gg/QB5YFJfsFJ"><i class="fa-brands fa-discord"></i></a>
        <a class="redhover" href="https://github.com/RetendoNetwork"><i class="fa-brands fa-github"></i></a>
        <a class="redhover" href="https://github.com/InnoverseTeam"><i class="fa-sharp fa-solid fa-heart"></i></a>
    </div>
    <canvas id="myCanvas" width="500" height="500"></canvas>
        <script>
            const canvas = document.getElementById('myCanvas');
            const context = canvas.getContext('2d');
            const img = new Image();
            img.src = '/img/3ds.png';
            img.onload = function () {
                context.drawImage(img, 0, 0);
            };
        </script>
    </main>
    <main>
        <h1>What we do ?</h1>
        <div class="cards-container">
            <div class="card">
                <img src="/img/controller.png" alt="Online Services">
                <div class="card-content">
                    <div class="name">Online Service</div>
                    <p class="text">Recreation of online services for your favorite games.</p>
                </div>
            </div>

            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/168924680?s=400&u=ce5ea34643b5d0f8686f527f375771824c69e854&v=4"
                    alt="Innoverse">
                <div class="card-content">
                    <div class="name">Innoverse</div>
                    <p class="text">Recreation of Miverse but with more features.</p>
                </div>
            </div>

            <div class="card">
                <img src="/img/eshop.png" alt="GetEshop">
                <div class="card-content">
                    <div class="name">GetEshop</div>
                    <p class="text">Recreation of Eshop for download your favorite games.</p>
                </div>
            </div>
    </main>
    <main>
        <h1>The Team.</h1>
        <div class="cards-container">
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/149168286?v=4" 
                    alt="Lurio280">
                <div class="name">Lurio280</div>
            </div>

            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/123301168?s=400&u=88b0975fa18513a19fb1c4a14cb0b2b1556a225a&v=4"
                    alt="00cedke">
                <div class="name">cedkeChat01</div>
            </div>

            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/100078436?v=4" 
                    alt="zacaventure">
                <div class="name">Zac_Xgamer</div>
            </div>

        </div>
    </main>
<script src="/js/pages.js"></script>

{{> footer}}