{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<main>
    <h1>Progress of our <span>Services</span></h1>
    <p>Here is the progress of our online service projects.</p>

    <div class="progress-container">
      <div class="service">
        <h2>Account Service</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 83%;">83%</div>
        </div>
      </div>

      <div class="service">
        <h2>BOSS (StreetPass)</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 5%;">5%</div>
        </div>
      </div>

      <div class="service">
        <h2>NEX</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 47%;">47%</div>
        </div>
      </div>

      <div class="service">
        <h2>Website</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 35%;">36%</div>
        </div>
      </div>

      <div class="service">
        <h2>Innoverse [Miiverse]</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 2%;">2%</div>
        </div>
      </div>

      <div class="service">
        <h2>Friends</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 0%;">0%</div>
        </div>
      </div>

      <div class="service">
        <h2>Pikmin3</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 0%;">0%</div>
        </div>
      </div>

      <div class="service">
        <h2>Luigi's Mansion 2</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 0%;">0%</div>
        </div>
      </div>

      <div class="service">
        <h2>Wii U Chat</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </main>
<script src="/js/pages.js"></script>

{{> footer}}