{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<main>
    <h1>Progress of our <span>Services</span></h1>
    <p>Here is the progress of our online service projects.</p>

    <div class="progress-container">
      <div class="service">
        <h2>Account Service</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 80%;">80%</div>
        </div>
      </div>

      <div class="service">
        <h2>Website</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 33%;">33%</div>
        </div>
      </div>

      <div class="service">
        <h2>Innoverse [Miiverse]</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 2%;">2%</div>
        </div>
      </div>

      <div class="service">
        <h2>Friends</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 98%;">98%</div>
        </div>
      </div>

      <div class="service">
        <h2>Pikmin3</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 49%;">49%</div>
        </div>
      </div>
    </div>
  </main>
<script src="/js/pages.js"></script>

{{> footer}}