<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Retendo Network</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
      <a class="logo" href="/">Retendo Network</a>
      <nav>
        <ul>
            <li><a href="/updates">Updates</a></li>
            <li><a href="/docs">Documentations</a></li>
            <li><a href="/progress">Progress</a></li>
          </ul>
      </nav>
    </header>

    <main>
    <h1>Progress of our <span>Services</span></h1>
    <p>Here is the progress of our online service projects.</p>

    <div class="progress-container">
      <div class="service">
        <h2>Account Service</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 80%;">80%</div>
        </div>
      </div>

      <div class="service">
        <h2>Website</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 26%;">26%</div>
        </div>
      </div>

      <div class="service">
        <h2>Innoverse [Miiverse]</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 47%;">47%</div>
        </div>
      </div>

      <div class="service">
        <h2>SOAP</h2>
        <div class="progress-bar">
          <div class="progress" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
    </main>
</body>
</html>