:root {
  --bg-shade-1: #1c1c1c;
  --bg-shade-2: #2e2e2e;
  --text-shade-1: #f0f0f0;
  --text-shade-3: #cccccc;
  --accent-shade-0: #942828;
  --accent-shade-1: #c55e5e;
  --red-shade-1: #e53e3e;
  --green-shade-0: #38a169;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --gradient-color: linear-gradient(45deg, #e54646, #c52a2a);
}

body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
  color: #f0f0f0;
  min-height: 100vh;
  padding-top: 100px;
}

body, .main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgb(0 0 0 / 46%);
  background-color: #1c1c1c;
}

header img {
  width: auto;
  height: 60px;
  box-shadow: 0 2px 10px rgb(0 0 0);
  border-radius: 30px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s;
  position: absolute;
  top: 50px; 
  left: 67px; 
  border-bottom: solid #fd0002;
  border-bottom-style: ridge;
  border-bottom-left-radius: 5px; 
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; 
  margin: 0; 
  padding: 0;
  align-items: center;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  position: relative;
}

nav a:hover { 
  background-color: #00000030;
  box-shadow: 0 2px 10px rgb(0 0 0);
}

nav ul li.profile {
  margin-left: 40px;
}

nav ul li.profile a {
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

nav ul li.profile a:hover {
  background-color: transparent;
  transform: scale(1.1);
}

nav ul li.profile a .profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  filter: brightness(0) saturate(100%) invert(40%) sepia(90%) hue-rotate(150deg) brightness(90%);
}

nav ul li.profile a:hover .profile-icon {
  opacity: 0.9;
}


.don {
  background-color: #ff5555;
  padding: 5px 10px;
  border-radius: 5px;
}

main {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

h1 span {
  color: #ff5555;
}

.btn {
  display: inline-block;
}

.social {
  margin-top: 20px;
}

.social a {
  margin: 0 5px;
  color: #ffffff;
  padding: 20px 20px;
  background-color: black;
  border-radius: 5px;
}

.social .btn {
  padding: 18px 50px;
  background-color: #ff5555;
  font-weight: bold;
}

.social .btn:hover {
  background-color: #ff5544;
}

.social .redhover:hover {
  background-color: rgb(141, 54, 54);
}

.console {
  margin-top: 20px;
  width: 300px;
}

.progress-container {
  margin-top: 40px;
  width: 80%;
  margin: 0 auto;
}

.service {
  margin-bottom: 20px;
}

.service h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #6b4040;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
}

.progress {
  height: 100%;
  background-color: #ff5555;
  width: 0;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  transition: width 0.5s ease;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  transition: box-shadow 0.3s ease;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.card .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card .text {
  color: white;
  font-size: 17px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.6);
}

footer {
  background: var(--bg-shade-2);
  text-align: center;
  padding: 10px;
  color: var(--text-shade-3);
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left p,
.footer-right nav a {
  margin: 0;
  font-size: 14px;
  border: 2px solid #ff5555;
  padding: 5px 10px;
  border-radius: 5px;
}

.footer-right nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer-right nav a {
  color: #ffffff;
  text-decoration: none;
}

.footer-right nav a:hover {
  color: #ff5555;
}

.user_icon {
  color: var(--text-shade-1);
  text-decoration: none;
  display: block;
  height: 32px;
  transition: color 150ms;
}

.snowflake {
  position: absolute;
  top: -50px;
  color: white;
  font-size: 10px;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

<<<<<<< HEAD
.arrow-container {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ec0404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

nav li {
  position: relative;
  padding-bottom: 10px;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  width: 346px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 180ms ease, visibility 180ms ease;
  pointer-events: auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 10px;
}

.dropdown-content a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  margin: 10px 0;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.dropdown-content a i {
  font-size: 20px;
  color: white;
  background-color: #8a0d0d;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.dropdown-content a span {
  font-weight: bold;
  font-size: 16px;
}

.dropdown-content a p {
  font-size: 14px;
  margin: 3px 0pc;
  padding: 0px;
  color: #bbb;
}

.dropdown-content a:hover {
  background-color: rgb(87, 38, 38);
  box-shadow: none;
  color: #ff5555;
}

nav li:hover .dropdown-content,
.dropdown-content:hover {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

=======
>>>>>>> e32a569354139d144ff13b828049fe7252d80f04
/* Webkit scrollbar */
html::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
html::-webkit-scrollbar-track {
	background: var(--bg-shade-1);
}
html::-webkit-scrollbar-thumb {
	background-color: c52a2a;
	border-radius: 24px;
	border: 3px solid var(--bg-shade-1);
}
html {
	scrollbar-width: thin;
	scrollbar-color: #c52a2a var(--bg-shade-1);
<<<<<<< HEAD
}
=======
}
>>>>>>> e32a569354139d144ff13b828049fe7252d80f04
