{{> header}}

<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/blog.css">
<main>
    <div class="container">
        <div class="blog-post">
            <img src="">
            <div class="blog-post-content">
                <h2>October Progress Update</h2>
                <p>Update of website, created Discord server, soon finish account service and more!</p>
                <div class="author-info">
                    <img src="https://avatars.githubusercontent.com/u/123301168?s=400&u=88b0975fa18513a19fb1c4a14cb0b2b1556a225a&v=4"
                        alt="Author">
                    <div class="author-info">
                        <img src="https://avatars.githubusercontent.com/u/100078436?v=4" alt="Author">
                        <span>Published by cedkeChat and zac_Xgamer<span class="date">on October 24,
                                2024</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer}}